@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
body {
    background-color: black;
}

.top_bar {
    top: 0%;
    left: 0%;   
    position: absolute;
    width: 100%;
    height: 15%;
    background-color:#2874A6 ;
}
.username_label{
    position: relative;
    top: 11%;
    left: 90%;
    font-size: 250%;
    font-family: "Lato", sans-serif;

}
.user_image{
    position: relative;
    top: -57%;
    left: 84%;
    width: 6%;
    height: 55%;
}

.grid-container {
    margin-top: 7%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2%; 
    padding: 5%;
}

.grid-item {
    border: 6px solid #2874A6; 
    padding: 3%;
    text-align: center;
    border-radius: 2%;
    color: #7B7D7D;
    background-color: #D7DBDD;
}

.images {
    display: block;
    height: 300px;
    width: 100%;
}

.btn_reserve {
    background-color: #2874A6;
    color: white;
    padding: 3%;
    text-align: center;
    display: inline-block;
    font-size: 120%;
    margin: 3%;
    cursor: pointer;
    border-radius: 10%;
    transition: background-color 0.3s;
}

.btn_reserve:hover {
    background-color: #3498DB;
}

.btn_reserve:active {
    background-color: #85C1E9;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.popup_form {
    background-color: rgba(0, 0, 139, 0.92);
    color: white;
    display: none;
    position: absolute;
    z-index: 1;
    left: 10%;
    top: 10%;
    width: 80%;
    height: 80%;
    overflow: auto;
}

.form_font {
    width: 100%;
    height: 100%;
    opacity: 0.35;
}

.title_form {
    position: absolute;
    left: 10%;
    top: 10%;
    font-size: 400%;
    font-family: "Lato", sans-serif;
}

.date_title {
    position: absolute;
    left: 10%;
    top: 30%;
    font-size: 250%;
    font-family: "Lato", sans-serif;
}

.date_input {
    width: 38%;
    position: absolute;
    left: 10%;
    top: 37%;
    font-size: 250%;
    font-family: "Lato", sans-serif;
    cursor: pointer;
}

.start_time_title {
    position: absolute;
    left: 10%;
    top: 46%;
    font-size: 250%;
    font-family: "Lato", sans-serif;
}

.start_time_input {
    width: 38%;
    position: absolute;
    left: 10%;
    top: 53%;
    font-size: 250%;
    font-family: "Lato", sans-serif;
    cursor: pointer;
}

.end_time_title {
    position: absolute;
    left: 10%;
    top: 62%;
    font-size: 250%;
    font-family: "Lato", sans-serif;
}

.end_time_input {
    width: 38%;
    position: absolute;
    left: 10%;
    top: 69%;
    font-size: 250%;
    font-family: "Lato", sans-serif;
    cursor: pointer;
}

.button_send {
    position: absolute;
    left: 40%;
    top: 85%;
    background-color: rgba(0, 0, 139, 0.92);
    color: white;
    text-align: center;
    font-size: 150%;
    cursor: pointer;
    border-radius: 10%;
    transition: background-color 0.3s;
    width: 10%;
    height: 7%;
}

.button_close {
    position: absolute;
    left: 55%;
    top: 85%;
    background-color: rgba(0, 0, 139, 0.92);
    color: white;
    text-align: center;
    font-size: 150%;
    cursor: pointer;
    border-radius: 10%;
    transition: background-color 0.3s;
    width: 10%;
    height: 7%;
}

.image_reservation {
    position: absolute;
    top: 5%;
    left: 60%;
    width: 36%;
    height: 38%;
    border: 6px solid #2874A6;
    border-radius: 10%;
}

.information {
    position: absolute;
    top: 46%;
    left: 60%;
    width: 36%;
    height: 35%;
    background-color: white;
    border: 6px solid #2874A6;
    border-radius: 10%;
    color: black;
    text-align: center;
}
.image_confirmation {
    position: absolute;
    top: 30%;
    left: 14%;
    width: 32%;
    height: 38%;
    border-radius: 10%;
}