/* login.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #ffffff; /* Fondo blanco para el resto de la página */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    
}

.container {
    position: absolute;
    top: 13%;
    background-color: #020873; /* Fondo azul para el cuadro */
    padding: 3%;
    border-radius: 2%;
    box-shadow: 0 0 3% rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 25%;
    text-align: center;
}

h2 {
    margin-bottom: 4%;
    color: #ffffff; /* Texto blanco para el título */

}

form {
    background-color: #ffffff; /* Fondo blanco para el formulario */
    padding: 4%;
    border-radius: 2%;
    box-shadow: 0 0 2% rgba(0, 0, 0, 0.1);
    text-align: left;
}

.form-group {
    margin-bottom: 4%;
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="email"], input[type="password"] {
    width: 100%;
    padding: 2.5%;
    margin: 2% 0;
    border: 2px solid #ccc;
    border-radius: 1%;
    box-sizing: border-box;
}

button[type="submit"] {
    width: 100%;
    padding: 5%;
    background-color: #0077ff;
    color: white;
    border: none;
    border-radius: 1%;
    cursor: pointer;
    font-size: 130%;
    margin-top: 2.3%;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

p {
    margin-top: 15px;
    color: #ffffff; /* Texto blanco para el párrafo */
}

a {
    color: #ffffff; /* Enlace blanco */
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}
