@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    background-color: #f4f4f4;
    font-family: "Montserrat"; /* Usa la misma fuente que en el login */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 420px;
    box-sizing: border-box; /* Asegura que el padding y border estén incluidos en el width */
}

h2 {
    color: #333333;
    margin-bottom: 30px;
}

h5 {
    color: #999999; /* Gris más claro para el h5 */
    margin-bottom: 20px;
}

form {
    width: 100%;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
    box-sizing: border-box; /* Asegura que el padding y border estén incluidos en el width */
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
    color: #555555;
}

input[type="email"],
input[type="text"],
input[type="password"] {
    width: 100%; /* Ajuste para que ocupe el 100% del ancho del contenedor */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    font-family: "Montserrat";
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

p {
    margin-top: 20px;
    color: #555555;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

