@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    overflow-x: hidden;
}

.container_satistics_1 {
    background-color: #f1f1f1;
    margin-left: 1%;
    width: 47%;
    height: auto;         /* Ajustar la altura automáticamente */
    margin-top: 2%;
    padding: 1% 2%;       /* Padding para todos los lados */
    font-size: 100%;
    float: left;          /* Alinear a la izquierda para que esté lado a lado con otro contenedor */
    box-sizing: border-box; /* Asegura que el padding esté dentro del ancho especificado */
}

#reservationsByHourChart {
    margin: 0 auto;       /* Centrar el gráfico dentro del contenedor */
    width: 100%;          /* El ancho ocupa todo el contenedor */
    max-height: 400px;    /* Limitar la altura máxima a 400px */
}

.container_satistics_2 {
    padding: 1% 2%;
    background-color: #f1f1f1;
    text-align: center;
    width: 49%;
    height: auto;         /* Ajustar la altura automáticamente */
    margin-top: 2%;
    float: right;         /* Alinear a la derecha para estar lado a lado con el otro contenedor */
    box-sizing: border-box;
}

#reservationsByBuildingChart {
    margin: 0 auto;       /* Centrar el gráfico dentro del contenedor */
    width: 100%;          /* El ancho ocupa todo el contenedor */
    max-height: 400px;    /* Limitar la altura máxima a 400px */
}

.images {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

.collapse_containr_1 {
    position: relative;   /* Posicionamiento relativo para mantener el flujo */
    font-size: 100%;
    margin-top: 2%;       /* Añadir un margen superior para separar del gráfico anterior */
    width: 98%;           /* Asegurar que no se desborde del contenedor */
    box-sizing: border-box;
    clear: both;          /* Evita que el contenedor de collapse se superponga a los gráficos anteriores */
}

#collapse_button {
    font-size: 100%;
    display: block;       /* Asegura que ocupe toda la línea */
    width: 100%;          /* El botón ocupa todo el ancho del contenedor */
    margin-bottom: 1%;    /* Añadir espacio inferior */
}

#card_text {
    background-color: #f1f1f1;
    padding: 10px;        /* Padding interno para el contenido del colapso */
}
