<!DOCTYPE html>
<html>
<head>
    <title>Salones Disponibles</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'home_style.css' %}">
    <style>
        /* Asegúrate de que el estilo por defecto sea ocultar el popup_form */
        .popup_form {
            display: none;
        }
        .image_confirmation {
            display: none;
        }
    </style>
</head>
<body>
    <div class="grid-container">
        {% for space in spaces %}
            <form action="">
                <div class="grid-item">
                    <img src="{{ space.image.url }}" class="images" alt="Imagen del espacio">
                    <input type="hidden" name="space_id" value="{{ space.space_id }}">
                    <br>
                    <h1>{{ space.type }}</h1>
                    <h2>{{ space.building_number }}-{{ space.room_number }}</h2>
                    <button type = "submit" class="btn_reserve" onclick="openForm()">Reserve</button>
                </div>
            </form>
        {% endfor %}
    </div>

    <div class="popup_form" id="popup_form">
        <img src="{% static 'form_font.jpeg' %}" class="form_font">
        <form id="reservation_form" action="">
            <input type="hidden" name="space_id_reservation" value="{{ peticion_data.space_id }}">
            <label for="title_form" class="title_form">Realizar reservación</label>
            <label for="date" class="date_title">Fecha</label>
            <input type="date" id="date_reserve" name="date_reserve" required class="date_input">
            <label for="start_time" class="start_time_title">Hora de inicio</label>
            <input type="time" id="start_time" name="start_time" required class="start_time_input">
            <label for="end_time" class="end_time_title">Hora de fin</label>
            <input type="time" id="end_time" name="end_time" required class="end_time_input">
            <button type = "submit" class="button_send" onclick="submitForm()">Enviar</button>
            
        </form>
            <button type="button" class="button_close" onclick="closeForm()">Cerrar</button>
    
        <img src="{{ peticion_data.image.url }}" class="image_reservation" alt="Imagen del espacio">
        <div class="information">Aqui va la informacion de el salon..
            <br>
            -
            <br>
            -
            <br>
            -
        </div>
        <img id="image_confirmation" src="{% static 'image_confirmation.png' %}" class="image_confirmation" alt="Imagen de confirmacion">
    </div>

    <script>
        // Función para abrir el formulario y guardar el estado en localStorage
        function openForm() {
            document.getElementById("popup_form").style.display = "block";
            localStorage.setItem('popup_form_visible', 'true');
        }
        
        // Función para cerrar el formulario y guardar el estado en localStorage
        function closeForm() {
            document.getElementById("popup_form").style.display = "none";
            document.getElementById("image_confirmation").style.display = "none";
            localStorage.setItem('popup_form_visible', 'false');
        }

        // Función para ajustar el estado del formulario al cargar la página
        function ajustarEstadoFormulario() {
            var estado = localStorage.getItem('popup_form_visible');
            var formulario = document.getElementById('popup_form');
            if (estado === 'true') {
                formulario.style.display = 'block';
            } else {
                formulario.style.display = 'none';
            }
        }

        // Función para enviar el formulario y mostrar la imagen de confirmación
        function submitForm() {
            document.getElementById("reservation_form").style.display = "none";
            document.getElementById("image_confirmation").style.display = "block";
        }

        // Aplicar el estado guardado al cargar la página
        window.onload = ajustarEstadoFormulario;
    </script>
</body>
</html>
<!--<a href="{% url 'logout' %}">Cerrar Sesión</a>