<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
</head>
<body>
    <div class="container">
        <h2>Welcome to Eafit Spaces!</h2>
        <h5>Please enter login details below</h5>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Login</button>
        </form>
        <p>Doesn't have an account? <a href="{% url 'register' %}">Sign up</a></p>
    </div>
</body>
</html>