<!DOCTYPE html>
<html>
<head>
    <title>LOGIN</title>
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'login.css' %}">
</head>
<body>
    <div class="container">
        <h2>LOGIN</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">User</label>
            </div>
            {{ form.as_p }}
            <div class="form-group">
                <label for="password" class="contraseña">Password</label>
            </div>
            <button type="submit">Login</button>
        </form>
        <p>¿No tienes una cuenta? <a href="{% url 'register' %}">Register here</a></p>
    </div>
</body>
</html>

<!--<link rel="stylesheet" type="text/css" href="{% static 'login.css' %}">-->