<!DOCTYPE html>
<html>
<head>
    <title>Inicio de Sesión</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'login.css' %}">
</head>
<body>
    <div class="container">
        <h2>Inicio de Sesión</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Iniciar Sesión</button>
        </form>
        <p>¿No tienes una cuenta? <a href="{% url 'register' %}">Regístrate aquí</a></p>
    </div>
</body>
</html>

<!--<link rel="stylesheet" type="text/css" href="{% static 'login.css' %}">-->