<!DOCTYPE html>
<html>
<head>
    <title>User Register</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}">
    <link rel="icon" type="image/png" href="{% static 'img/logo.png' %}">
</head>
<body>
    <div class="container">
        <div class="logo-container">
            <img src="{% static 'img/logo.png' %}" alt="Eafit Spaces Logo" class="login-logo">
        </div>
        <h2>Register</h2>
        <h5>Please fill out the following information to register</h5>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="email">Email:</label>
                {{ form.email }}
            </div>
            <div class="form-group">
                <label for="full_name">Full name:</label>
                {{ form.full_name }}
            </div>
            <div class="form-group">
                <label for="id_number">Username:</label>
                {{ form.username }}
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                {{ form.password }}
            </div>
            <button type="submit">Create Account</button>
        </form>
        <p>Already have an account?<a href="{% url 'login' %}"> Login here</a></p>
    </div>
</body>
</html>