
<!DOCTYPE html>
<html>
<head>
    <title>Registro de Usuario</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}">
</head>
<body>
    <div class="container">
        <h2>USER REGISTER</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="email">Email:</label>
                {{ form.email }}
            </div>
            <div class="form-group">
                <label for="full_name">Full name:</label>
                {{ form.full_name }}
            </div>
            <div class="form-group">
                <label for="id_number">Username:</label>
                {{ form.username }}
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                {{ form.password }}
            </div>
            <button type="submit">Register</button>
        </form>
        <p>already have an account?<a href="{% url 'login' %}">Login here</a></p>
    </div>
</body>
</html>