{% extends 'sidebar.html' %}
{% block content %}

<head>
    <title>Eafit Spaces</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/spacesAdmin.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="icon" type="image/png" href="{% static 'img/logo.png' %}">
</head>

<body>
    <div class="overlay" id="overlay"></div>

    <div class="grid-head">
        <div class="grid-title">
            <p><b>Available Spaces:</b></p>
        </div>

        <div class="dropdown">
            <button class="dropbtn">Filter by:</button>
            <div class="dropdown-content">
                <a href="{% url 'spacesAdmin' %}">All</a>
                {% for space_type in space_types %}
                    <a href="?space_type={{ space_type.type_id }}">{{ space_type.type_name }}</a>
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- tablas que muestran los espacios Disponibles -->
    <div class="grid-container">
        {% for space in spaces %}
            {% if space.available %}
                <form action="" method="get">
                    <div class="grid-item">
                        <input type="hidden" name="type_form" value="reservation_form">
                        <img src="{{ space.image.url }}" class="images" alt="Imagen del espacio">
                        <input type="hidden" name="space_id" value="{{ space.space_id }}">
                        <br>
                        <div class="space-type">{{ space.type_id.type_name }}</div>
                        <div class="space-location">{{ space.building_number }}-{{ space.room_number }}</div>
                        <div class="space-capacity"><b>Capacity: </b>{{ space.capacity }}</div>
                        <br>
                        <button type="submit" class="btn-primary" onclick="openForm()">Reserve</button>

                        <!-- Botones de Modificar y Eliminar solo para superusuarios -->
                        {% if is_superuser %}
                        <a href="{% url 'modify_space' space.space_id %}" class="btn btn-custom-modify">Modify</a>
                        <a href="{% url 'delete_space' space.space_id %}" class="btn btn-custom-delete" onclick="return confirm('Are you sure you want to delete this space?');">Delete</a>
                        {% endif %}
                    </div>
                </form>
            {% endif %}
        {% endfor %}
    </div>

    <!-- formulario emergente cuando se hace click en reserve -->
    <div class="popup_form" id="popup_form">
        <div class="popup_content">
            <div class="form_section">
                <div class="reservation-title">Reservation Form</div>
                <form id="reservation_form" method="post" onsubmit="submitForm(event)">
                    <input type="hidden" name="data" value="reservation">
                    {% csrf_token %}
                    <label for="reservation_date" class="input_title">Reservation Date:</label>
                    {{ form.reservation_date }}
                    <label for="start_time" class="input_title">Start time:</label>
                    {{ form.start_time }}
                    <label for="end_time" class="input_title">End time:</label>
                    {{ form.end_time }}
                    {{ form.space_id }}
                    {{ form.user_id }}
                    <input type="hidden" name="space_reserve_id" value="{{ peticion_data.space_id }}">
                    <div class="buttons">
                        <button type="submit" class="btn_submit">Accept</button>
                    </div>
                </form>
                <button type="button" class="btn_close" onclick="closeForm()">Back</button>
            </div>
            <div class="details_section" id="details_section">
                <img src="{{ peticion_data.image.url }}" class="image_reservation" alt="Imagen del espacio">
                <div class="information">
                    <b><p>Resources:</p></b>
                    {% if available_resources %}
                        <ul>
                            {% for resource in available_resources %}
                                <li>{{ resource }}</li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>No resources available.</p>
                    {% endif %}
                </div>
                <div id="confirmation_message" style="display: none;">
                    <p>Your reservation has been confirmed!</p>
                </div>
                <img id="image_confirmation" src="{% static 'img/image_confirmation.png' %}" class="image_confirmation" alt="Imagen de confirmacion" style="display: none;">
            </div>
        </div>
    </div>

    <!-- formulario emergente cuando se hace click en agregar espacios -->
    <div class="add_space_form" id="add_space_form" style="display:none;">
        <form id="add_space_form_data" method="post" enctype="multipart/form-data">
            <input type="hidden" name="data" value="spaces">

            <!-- Div para el campo Image -->
            <img id="image_preview" src="{% static 'img/image_placeholder_icon.png' %}" alt="Preview" class="img-fluid">
            <div class="bar">_____</div>

            {% csrf_token %}
            {{ form.as_p }}

            <!-- Botones dentro del formulario -->
            <div class="form-buttons">
                <button type="submit" class="btn btn-success" id="submit-btn">Enviar</button>
                <button type="button" class="btn btn-danger" id="close-btn" onclick="closeAddSpaceForm()">Cerrar</button>
            </div>
        </form>
    </div>

    <!-- boton para añadir espacios -->
    <form action="" method="get">
        <input type="hidden" name="type_form" value="add_space_form">
        <button type="button" id="add-btn" class="btn btn-primary" onclick="openAddSpaceForm()">+</button>
    </form>

    <!-- Mensaje de éxito al enviar el formulario -->
    <div id="success-message" class="success-message" style="display: none;">
        ¡Formulario enviado exitosamente!
    </div>

    {% if errors %}
    <div class="errorlist">
        {% for field, error_list in errors.items %}
            <p>{{ field }}: {{ error_list }}</p>
        {% endfor %}
    </div>
    {% endif %}

    <script>
        // Copia el script del home.html para manejar las horas disponibles y la validación de formularios
        document.addEventListener("DOMContentLoaded", function () {
            const reservationDateInput = document.getElementById('id_reservation_date');
            const startTimeSelect = document.getElementById('id_start_time');
            const endTimeSelect = document.getElementById('id_end_time');
            const spaceId = document.querySelector('input[name="space_reserve_id"]').value;

            let availableHours = [];

            startTimeSelect.disabled = true;
            endTimeSelect.disabled = true;
            startTimeSelect.style.backgroundColor = '#ccd1d1';
            endTimeSelect.style.backgroundColor = '#ccd1d1';

            reservationDateInput.addEventListener('change', function () {
                const selectedDate = reservationDateInput.value;

                endTimeSelect.disabled = true;
                endTimeSelect.style.backgroundColor = '#ccd1d1';
                endTimeSelect.innerHTML = '';

                if (selectedDate) {
                    fetch(`/get-available-hours/?space_id=${spaceId}&reservation_date=${selectedDate}`)
                        .then(response => response.json())
                        .then(data => {
                            availableHours = data.available_hours || [];

                            startTimeSelect.innerHTML = '';

                            if (availableHours.length > 0) {
                                availableHours.forEach(hour => {
                                    const option = document.createElement('option');
                                    option.value = hour[0];
                                    option.text = hour[1];
                                    startTimeSelect.add(option);
                                });

                                startTimeSelect.disabled = false;
                                startTimeSelect.style.backgroundColor = 'white';
                            } else {
                                startTimeSelect.disabled = true;
                                startTimeSelect.style.backgroundColor = '#ccd1d1';
                            }
                        })
                        .catch(error => {
                            console.error('Error fetching available hours:', error);
                        });
                } else {
                    startTimeSelect.disabled = true;
                    startTimeSelect.style.backgroundColor = '#ccd1d1';
                }
            });

            startTimeSelect.addEventListener('change', function () {
                const selectedStartTime = startTimeSelect.value;
                endTimeSelect.innerHTML = '';

                if (selectedStartTime && availableHours.length > 0) {
                    endTimeSelect.style.backgroundColor = 'white';
                    const [startHour, startMinute] = selectedStartTime.split(':').map(Number);
                    const startTimeInMinutes = startHour * 60 + startMinute;

                    availableHours.forEach(hour => {
                        const [endHour, endMinute] = hour[0].split(':').map(Number);
                        const endTimeInMinutes = endHour * 60 + endMinute;

                        const difference = endTimeInMinutes - startTimeInMinutes;

                        if (difference >= 60 && difference <= 180) {
                            const option = document.createElement('option');
                            option.value = hour[0];
                            option.text = hour[1];
                            endTimeSelect.add(option);
                        }
                    });

                    endTimeSelect.disabled = false;
                } else {
                    endTimeSelect.disabled = true;
                    endTimeSelect.style.backgroundColor = '#ccd1d1';
                }
            });
        });
    </script>

    {% load static %}
    <script src="{% static 'js/spacesAdminForm.js' %}"></script>
</body>
{% endblock %}
