{% extends 'sidebar.html' %}
{% block content %}

<head>
    <title>Eafit Spaces</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/statisitcsAdmin.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="icon" type="image/png" href="{% static 'img/logo.png' %}">
</head>

<body>
    <div class ="container_satistics_1">
        <h5 style="text-align: center;">Number of Reservations by Hour (Last 6 Months)</h5>
        <canvas id="reservationsByHourChart" class ="reservations_by_hours"></canvas>


        <div class="collapse_containr_1">
            <p class="d-inline-flex gap-1" id="collapse_button">
                <a class="btn btn-primary w-100 w-md-auto text-center responsive-text" id = "collapse_button" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                    Analyze data
                </a>
            </p>
            <div class="collapse" id="collapseExample">
                <div class="card card-body" id="card_text">
                    Data analysis through artificial intelligence
                </div>
            </div>
        </div>


    </div>

    <div class ="container_satistics_2">
        <h5>Number of Reservations by Block (Last 6 Months)</h5>
        <canvas id="reservationsByBuildingChart" class ="reservationsByBuildingChart"></canvas>
    </div>
    
        <!-- Formulario para seleccionar el rango y generar reporte -->
    <div class="container mt-4" id = "generate_report_container">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Generate Reservation Report</h5>
                <form method="post" action="{% url 'generate_report' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="report-range">Select Time Range:</label>
                        <select class="form-control" id="report-range" name="report_range">
                            <option value="1">Last 30 Days</option>
                            <option value="2">Last 3 Months</option>
                            <option value="3">Last Year</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary mt-3">Generate Report</button>
                </form>
            </div>
        </div>
    </div>

     <!-- Lista de reportes generados por el usuario -->
     <div class="container mt-4" id="user_reports_container">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Your Generated Reports</h5>
                {% if user_reports %}
                    <table class="table table-striped mt-3">
                        <thead>
                            <tr>
                                <th>Report Date</th>
                                <th>Time Range</th>
                                <th>Download</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for report in user_reports %}
                                <tr>
                                    <td>{{ report.report_date }}</td>
                                    <td>
                                        {% if report.range_type == 1 %}
                                            Last 30 Days
                                        {% elif report.range_type == 2 %}
                                            Last 3 Months
                                        {% elif report.range_type == 3 %}
                                            Last Year
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a href="{{ report.report_pdf.url }}" class="btn btn-success btn-sm" download>Download</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p class="mt-3">You haven't generated any reports yet.</p>
                {% endif %}
            </div>
        </div>
    </div>


    {% load static %}
    <script type="application/json" id="chart-hours">{{ hours|safe }}</script>
    <script type="application/json" id="chart-counts">{{ counts|safe }}</script>
    
    <script type="application/json" id="chart-blocks">{{ blocks|safe }}</script>
    <script type="application/json" id="chart2-counts">{{ counts2|safe }}</script>
    <script src="{% static 'js/statisticsAdmin.js' %}"></script>
    {% endblock %}
</body>
